# Create 45 Expert Variables
## Gregy

In [1]:
%config IPCompleter.greedy=True

In [14]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from keras.models import Model
from keras.layers import Input,Dense

C:\Users\Gregy\Anaconda3\Anaconda3_USC\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [3]:
cleanDF = pd.read_csv('Combined After Fill Missing.csv')
cleanDF.columns = [x.upper() for x in cleanDF.columns]
tmp = cleanDF.describe()

cleanDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 33 columns):
UNNAMED: 0    1070994 non-null int64
RECORD        1070994 non-null int64
FULLVAL       1070994 non-null float64
AVLAND        1070994 non-null float64
AVTOT         1070994 non-null float64
ZIP           1070994 non-null float64
STORIES       1070994 non-null float64
LTFRONT       1070994 non-null int64
LTDEPTH       1070994 non-null int64
BLDFRONT      1070994 non-null int64
BLDDEPTH      1070994 non-null int64
BBLE          1070994 non-null object
B             1070994 non-null int64
BLOCK         1070994 non-null int64
LOT           1070994 non-null int64
EASEMENT      4636 non-null object
OWNER         1039249 non-null object
BLDGCL        1070994 non-null object
TAXCLASS      1070994 non-null object
EXT           354305 non-null object
EXLAND        1070994 non-null float64
EXTOT         1070994 non-null float64
EXCD1         638488 non-null float64
STADDR        1070318 non-null object
EXMPTCL       15579 non-null object
AVLAND2       282726 non-null float64
AVTOT2        282732 non-null float64
EXLAND2       87449 non-null float64
EXTOT2        130828 non-null float64
EXCD2         92948 non-null float64
PERIOD        1070994 non-null object
YEAR          1070994 non-null object
VALTYPE       1070994 non-null object
dtypes: float64(13), int64(9), object(11)
memory usage: 269.6+ MB

In [94]:
cols = ["RECORD",
        "FULLVAL",
        "AVLAND",
        "AVTOT",
        "LTFRONT",
        "LTDEPTH",
        "BLDFRONT",
        "BLDDEPTH",
        "STORIES",
        "ZIP",
        "TAXCLASS",
        "B",            
       ]

In [7]:
cl_DF = cleanDF[cols]

In [9]:
cl_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 12 columns):
RECORD      1070994 non-null int64
FULLVAL     1070994 non-null float64
AVLAND      1070994 non-null float64
AVTOT       1070994 non-null float64
LTFRONT     1070994 non-null int64
LTDEPTH     1070994 non-null int64
BLDFRONT    1070994 non-null int64
BLDDEPTH    1070994 non-null int64
STORIES     1070994 non-null float64
ZIP         1070994 non-null float64
TAXCLASS    1070994 non-null object
B           1070994 non-null int64
dtypes: float64(5), int64(6), object(1)
memory usage: 98.1+ MB

In [10]:
cl_DF["S1"] = cl_DF.LTFRONT*cl_DF.LTDEPTH
cl_DF["S2"] = cl_DF.BLDFRONT*cl_DF.BLDDEPTH
cl_DF["S3"] = cl_DF.S2*cl_DF.STORIES

#cl_DF["R1"] = cl_DF./(cl_DF.)

C:\Users\Gregy\Anaconda3\Anaconda3_USC\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Gregy\Anaconda3\Anaconda3_USC\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Gregy\Anaconda3\Anaconda3_USC\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
cl_DF["R1"] = cl_DF.FULLVAL/cl_DF.S1
cl_DF["R2"] = cl_DF.FULLVAL/cl_DF.S2
cl_DF["R3"] = cl_DF.FULLVAL/cl_DF.S3

cl_DF["R4"] = cl_DF.AVLAND/cl_DF.S1
cl_DF["R5"] = cl_DF.AVLAND/cl_DF.S2
cl_DF["R6"] = cl_DF.AVLAND/cl_DF.S3

cl_DF["R7"] = cl_DF.AVTOT/cl_DF.S1
cl_DF["R8"] = cl_DF.AVTOT/cl_DF.S2
cl_DF["R9"] = cl_DF.AVTOT/cl_DF.S3

In [28]:
cl_DF["ZIP3"] = round(cl_DF["ZIP"]/100)
#cl_DF['ZIP3'] = cl_DF['ZIP'].apply(lambda x: x[:3])

In [33]:
cl_DF[["ZIP3","ZIP"]].head()

    ZIP3      ZIP
0  100.0  10004.0
1  100.0  10004.0
2  100.0  10004.0
3  100.0  10004.0
4  100.0  10004.0

In [35]:
cl_DF["ZIP"].value_counts()

10314.0    25297
11234.0    20730
10312.0    18571
10306.0    17137
10462.0    17052
11236.0    16272
11385.0    15518
11229.0    13380
11211.0    13251
11207.0    12856
11215.0    12119
10469.0    11610
11204.0    11583
11203.0    11570
11208.0    11557
11235.0    11547
11214.0    11521
11223.0    11131
10305.0    11123
11434.0    10900
11355.0    10775
11219.0    10765
11357.0    10138
11413.0    10016
11373.0    10002
11220.0     9964
10309.0     9898
10023.0     9800
10304.0     9511
11221.0     9485
           ...
10004.0      794
10475.0      752
10006.0      725
10034.0      668
10039.0      606
10044.0      595
10040.0      575
10037.0      536
11040.0      452
11239.0      232
11109.0      202
11243.0      186
10020.0      123
10803.0       46
11697.0       32
10282.0       22
11430.0       19
11695.0        5
11227.0        5
10281.0        3
33803.0        3
10048.0        2
11696.0        2
11242.0        2
11241.0        1
10162.0        1
11371.0        1
11005.0        1
11359.0        1
11352.0        1
Name: ZIP, Length: 196, dtype: int64

In [36]:
cl_DF["ZIP3"].value_counts()

112.0    328075
114.0    312076
103.0    132883
100.0    126555
105.0    107362
111.0     26154
101.0     16888
117.0     16616
110.0      4335
108.0        46
338.0         3
102.0         1
Name: ZIP3, dtype: int64

In [37]:
cl_DF.head()

,RECORD,FULLVAL,AVLAND,AVTOT,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,STORIES,ZIP,...,R1,R2,R3,R4,R5,R6,R7,R8,R9,ZIP3
0,1,21400000.0,4225500.0,9630000.0,500,1046,20,39,1.0,10004.0,...,40.917782,27435.897436,27435.897436,8.079350,5417.307692,5417.307692,18.413002,12346.153846,12346.153846,100.0
1,2,193800000.0,14310000.0,87210000.0,27,99,20,39,1.0,10004.0,...,72502.805836,248461.538462,248461.538462,5353.535354,18346.153846,18346.153846,32626.262626,111807.692308,111807.692308,100.0
2,3,104686000.0,39008700.0,47108700.0,709,564,709,564,3.0,10004.0,...,261.796157,261.796157,87.265386,97.551991,97.551991,32.517330,117.808271,117.808271,39.269424,100.0
3,4,39200000.0,15255000.0,17640000.0,793,551,85,551,2.0,10004.0,...,89.714219,836.980890,418.490445,34.913021,325.717946,162.858973,40.371399,376.641401,188.320700,100.0
4,5,272300000.0,121050000.0,122535000.0,323,1260,89,57,1.0,10004.0,...,669.074647,53676.325646,53676.325646,297.434763,23861.620343,23861.620343,301.083591,24154.346541,24154.346541,100.0

In [38]:
cl_DF2= cl_DF #backup

In [67]:
cl_DF.head()

,RECORD,FULLVAL,AVLAND,AVTOT,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,STORIES,ZIP,...,R1,R2,R3,R4,R5,R6,R7,R8,R9,ZIP3
0,1,21400000.0,4225500.0,9630000.0,500,1046,20,39,1.0,10004.0,...,40.917782,27435.897436,27435.897436,8.079350,5417.307692,5417.307692,18.413002,12346.153846,12346.153846,100.0
1,2,193800000.0,14310000.0,87210000.0,27,99,20,39,1.0,10004.0,...,72502.805836,248461.538462,248461.538462,5353.535354,18346.153846,18346.153846,32626.262626,111807.692308,111807.692308,100.0
2,3,104686000.0,39008700.0,47108700.0,709,564,709,564,3.0,10004.0,...,261.796157,261.796157,87.265386,97.551991,97.551991,32.517330,117.808271,117.808271,39.269424,100.0
3,4,39200000.0,15255000.0,17640000.0,793,551,85,551,2.0,10004.0,...,89.714219,836.980890,418.490445,34.913021,325.717946,162.858973,40.371399,376.641401,188.320700,100.0
4,5,272300000.0,121050000.0,122535000.0,323,1260,89,57,1.0,10004.0,...,669.074647,53676.325646,53676.325646,297.434763,23861.620343,23861.620343,301.083591,24154.346541,24154.346541,100.0

In [39]:
groups = ['ZIP', 
        'ZIP3' ,
        'TAXCLASS', 
        'B']

VarsR = ['R1','R2','R3','R4','R5','R6','R7','R8','R9']

In [82]:
# Create 36 new Expert Columns
#==============================
i=1
for g in groups:
    for v in VarsR:
        #for g in groups
        #for v in VarsR
        newCol = g+"_avgd_"+v
        print('This is ',i,' -> ',newCol)
        #cl_DF[newCol]=cl_DF[[v]].div(cl_DF.groupby(g).transform('mean'))
        #cl_DF[newCol]=cl_DF[v].div(cl_DF.groupby(cl_DF[g]).transform('mean'))
        cl_DF[newCol]=cl_DF[[v]]/(cl_DF[[v,g]].groupby(g).transform('mean'))
        i=i+1

This is  1  ->  ZIP_avgd_R1
This is  2  ->  ZIP_avgd_R2
This is  3  ->  ZIP_avgd_R3
This is  4  ->  ZIP_avgd_R4
This is  5  ->  ZIP_avgd_R5
This is  6  ->  ZIP_avgd_R6
This is  7  ->  ZIP_avgd_R7
This is  8  ->  ZIP_avgd_R8
This is  9  ->  ZIP_avgd_R9
This is  10  ->  ZIP3_avgd_R1
This is  11  ->  ZIP3_avgd_R2
This is  12  ->  ZIP3_avgd_R3
This is  13  ->  ZIP3_avgd_R4
This is  14  ->  ZIP3_avgd_R5
This is  15  ->  ZIP3_avgd_R6
This is  16  ->  ZIP3_avgd_R7
This is  17  ->  ZIP3_avgd_R8
This is  18  ->  ZIP3_avgd_R9
This is  19  ->  TAXCLASS_avgd_R1
This is  20  ->  TAXCLASS_avgd_R2
This is  21  ->  TAXCLASS_avgd_R3
This is  22  ->  TAXCLASS_avgd_R4
This is  23  ->  TAXCLASS_avgd_R5
This is  24  ->  TAXCLASS_avgd_R6
This is  25  ->  TAXCLASS_avgd_R7
This is  26  ->  TAXCLASS_avgd_R8
This is  27  ->  TAXCLASS_avgd_R9
This is  28  ->  B_avgd_R1
This is  29  ->  B_avgd_R2
This is  30  ->  B_avgd_R3
This is  31  ->  B_avgd_R4
This is  32  ->  B_avgd_R5
This is  33  ->  B_avgd_R6
This is  34  ->  B_avgd_R7
This is  35  ->  B_avgd_R8
This is  36  ->  B_avgd_R9

In [84]:
#Create the last 9 Expert Variables
#===============================
i=37
for v2 in VarsR:
    newCol = "All_avgd_"+v2
    print('This is ',i,' -> ',newCol)
    cl_DF[newCol]=cl_DF[v2]/cl_DF[v2].mean()
    i=i+1

This is  37  ->  All_avgd_R1
This is  38  ->  All_avgd_R2
This is  39  ->  All_avgd_R3
This is  40  ->  All_avgd_R4
This is  41  ->  All_avgd_R5
This is  42  ->  All_avgd_R6
This is  43  ->  All_avgd_R7
This is  44  ->  All_avgd_R8
This is  45  ->  All_avgd_R9

In [85]:
cl_DF.head()

,RECORD,FULLVAL,AVLAND,AVTOT,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,STORIES,ZIP,...,del,All_avgd_R1,All_avgd_R2,All_avgd_R3,All_avgd_R4,All_avgd_R5,All_avgd_R6,All_avgd_R7,All_avgd_R8,All_avgd_R9
0,1,21400000.0,4225500.0,9630000.0,500,1046,20,39,1.0,10004.0,...,182.379129,0.180713,38.987793,91.179898,0.661883,90.547650,201.748975,0.559661,105.041453,308.202050
1,2,193800000.0,14310000.0,87210000.0,27,99,20,39,1.0,10004.0,...,1651.639030,320.208581,353.076372,825.731972,438.576899,306.646993,683.239339,991.670995,951.263252,2791.100806
2,3,104686000.0,39008700.0,47108700.0,709,564,709,564,3.0,10004.0,...,0.580093,1.156223,0.372026,0.290016,7.991738,1.630534,1.210996,3.580767,1.002316,0.980299
3,4,39200000.0,15255000.0,17640000.0,793,551,85,551,2.0,10004.0,...,2.781900,0.396223,1.189392,1.390803,2.860174,5.444216,6.065122,1.227083,3.204477,4.701126
4,5,272300000.0,121050000.0,122535000.0,323,1260,89,57,1.0,10004.0,...,356.811420,2.954968,76.276765,178.386798,24.366705,398.835319,888.643901,9.151396,205.505916,602.974757

In [97]:
cols.remove('RECORD')
cols

['FULLVAL',
 'AVLAND',
 'AVTOT',
 'LTFRONT',
 'LTDEPTH',
 'BLDFRONT',
 'BLDDEPTH',
 'STORIES',
 'ZIP',
 'TAXCLASS',
 'B']

In [101]:
#Create new df for 45 Expert Variables by removing other features 
cl_ExpertDF = cl_DF.drop(columns=cols)
cl_ExpertDF.head()

,RECORD,S1,S2,S3,R1,R2,R3,R4,R5,R6,...,del,All_avgd_R1,All_avgd_R2,All_avgd_R3,All_avgd_R4,All_avgd_R5,All_avgd_R6,All_avgd_R7,All_avgd_R8,All_avgd_R9
0,1,523000,780,780.0,40.917782,27435.897436,27435.897436,8.079350,5417.307692,5417.307692,...,182.379129,0.180713,38.987793,91.179898,0.661883,90.547650,201.748975,0.559661,105.041453,308.202050
1,2,2673,780,780.0,72502.805836,248461.538462,248461.538462,5353.535354,18346.153846,18346.153846,...,1651.639030,320.208581,353.076372,825.731972,438.576899,306.646993,683.239339,991.670995,951.263252,2791.100806
2,3,399876,399876,1199628.0,261.796157,261.796157,87.265386,97.551991,97.551991,32.517330,...,0.580093,1.156223,0.372026,0.290016,7.991738,1.630534,1.210996,3.580767,1.002316,0.980299
3,4,436943,46835,93670.0,89.714219,836.980890,418.490445,34.913021,325.717946,162.858973,...,2.781900,0.396223,1.189392,1.390803,2.860174,5.444216,6.065122,1.227083,3.204477,4.701126
4,5,406980,5073,5073.0,669.074647,53676.325646,53676.325646,297.434763,23861.620343,23861.620343,...,356.811420,2.954968,76.276765,178.386798,24.366705,398.835319,888.643901,9.151396,205.505916,602.974757

In [102]:
cl_ExpertDF = cl_ExpertDF.drop(columns=VarsR)
cl_ExpertDF.head()

,RECORD,S1,S2,S3,ZIP3,ZIP_avgd_R1,ZIP_avgd_R2,ZIP_avgd_R3,ZIP_avgd_R4,ZIP_avgd_R5,...,del,All_avgd_R1,All_avgd_R2,All_avgd_R3,All_avgd_R4,All_avgd_R5,All_avgd_R6,All_avgd_R7,All_avgd_R8,All_avgd_R9
0,1,523000,780,780.0,100.0,0.051932,12.749573,45.585557,0.078514,14.524730,...,182.379129,0.180713,38.987793,91.179898,0.661883,90.547650,201.748975,0.559661,105.041453,308.202050
1,2,2673,780,780.0,100.0,92.018888,115.461084,412.826210,52.025215,49.189180,...,1651.639030,320.208581,353.076372,825.731972,438.576899,306.646993,683.239339,991.670995,951.263252,2791.100806
2,3,399876,399876,1199628.0,100.0,0.332266,0.121658,0.144994,0.948002,0.261554,...,0.580093,1.156223,0.372026,0.290016,7.991738,1.630534,1.210996,3.580767,1.002316,0.980299
3,4,436943,46835,93670.0,100.0,0.113863,0.388948,0.695334,0.339282,0.873306,...,2.781900,0.396223,1.189392,1.390803,2.860174,5.444216,6.065122,1.227083,3.204477,4.701126
4,5,406980,5073,5073.0,100.0,0.849174,24.943606,89.184806,2.890447,63.977091,...,356.811420,2.954968,76.276765,178.386798,24.366705,398.835319,888.643901,9.151396,205.505916,602.974757

In [103]:
cl_ExpertDF = cl_ExpertDF.drop(columns=['S1','S2','S3','ZIP3','del'])
cl_ExpertDF.head()

,RECORD,ZIP_avgd_R1,ZIP_avgd_R2,ZIP_avgd_R3,ZIP_avgd_R4,ZIP_avgd_R5,ZIP_avgd_R6,ZIP_avgd_R7,ZIP_avgd_R8,ZIP_avgd_R9,...,B_avgd_R9,All_avgd_R1,All_avgd_R2,All_avgd_R3,All_avgd_R4,All_avgd_R5,All_avgd_R6,All_avgd_R7,All_avgd_R8,All_avgd_R9
0,1,0.051932,12.749573,45.585557,0.078514,14.524730,46.876696,0.053889,12.962825,46.158596,...,182.379129,0.180713,38.987793,91.179898,0.661883,90.547650,201.748975,0.559661,105.041453,308.202050
1,2,92.018888,115.461084,412.826210,52.025215,49.189180,158.751751,95.487412,117.392316,418.015699,...,1651.639030,320.208581,353.076372,825.731972,438.576899,306.646993,683.239339,991.670995,951.263252,2791.100806
2,3,0.332266,0.121658,0.144994,0.948002,0.261554,0.281377,0.344790,0.123693,0.146817,...,0.580093,1.156223,0.372026,0.290016,7.991738,1.630534,1.210996,3.580767,1.002316,0.980299
3,4,0.113863,0.388948,0.695334,0.339282,0.873306,1.409241,0.118155,0.395454,0.704075,...,2.781900,0.396223,1.189392,1.390803,2.860174,5.444216,6.065122,1.227083,3.204477,4.701126
4,5,0.849174,24.943606,89.184806,2.890447,63.977091,206.477828,0.881183,25.360819,90.305916,...,356.811420,2.954968,76.276765,178.386798,24.366705,398.835319,888.643901,9.151396,205.505916,602.974757

In [104]:
cl_ExpertDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 46 columns):
RECORD              1070994 non-null int64
ZIP_avgd_R1         1070994 non-null float64
ZIP_avgd_R2         1070994 non-null float64
ZIP_avgd_R3         1070994 non-null float64
ZIP_avgd_R4         1070994 non-null float64
ZIP_avgd_R5         1070994 non-null float64
ZIP_avgd_R6         1070994 non-null float64
ZIP_avgd_R7         1070994 non-null float64
ZIP_avgd_R8         1070994 non-null float64
ZIP_avgd_R9         1070994 non-null float64
ZIP3_avgd_R1        1070994 non-null float64
ZIP3_avgd_R2        1070994 non-null float64
ZIP3_avgd_R3        1070994 non-null float64
ZIP3_avgd_R4        1070994 non-null float64
ZIP3_avgd_R5        1070994 non-null float64
ZIP3_avgd_R6        1070994 non-null float64
ZIP3_avgd_R7        1070994 non-null float64
ZIP3_avgd_R8        1070994 non-null float64
ZIP3_avgd_R9        1070994 non-null float64
TAXCLASS_avgd_R1    1070994 non-null float64
TAXCLASS_avgd_R2    1070994 non-null float64
TAXCLASS_avgd_R3    1070994 non-null float64
TAXCLASS_avgd_R4    1070994 non-null float64
TAXCLASS_avgd_R5    1070994 non-null float64
TAXCLASS_avgd_R6    1070994 non-null float64
TAXCLASS_avgd_R7    1070994 non-null float64
TAXCLASS_avgd_R8    1070994 non-null float64
TAXCLASS_avgd_R9    1070994 non-null float64
B_avgd_R1           1070994 non-null float64
B_avgd_R2           1070994 non-null float64
B_avgd_R3           1070994 non-null float64
B_avgd_R4           1070994 non-null float64
B_avgd_R5           1070994 non-null float64
B_avgd_R6           1070994 non-null float64
B_avgd_R7           1070994 non-null float64
B_avgd_R8           1070994 non-null float64
B_avgd_R9           1070994 non-null float64
All_avgd_R1         1070994 non-null float64
All_avgd_R2         1070994 non-null float64
All_avgd_R3         1070994 non-null float64
All_avgd_R4         1070994 non-null float64
All_avgd_R5         1070994 non-null float64
All_avgd_R6         1070994 non-null float64
All_avgd_R7         1070994 non-null float64
All_avgd_R8         1070994 non-null float64
All_avgd_R9         1070994 non-null float64
dtypes: float64(45), int64(1)
memory usage: 375.9 MB

In [105]:
cl_ExpertDF.to_csv('cl_ExpertDF.csv',index=False)

In [107]:
cl_ExpertDF.head()

,RECORD,ZIP_avgd_R1,ZIP_avgd_R2,ZIP_avgd_R3,ZIP_avgd_R4,ZIP_avgd_R5,ZIP_avgd_R6,ZIP_avgd_R7,ZIP_avgd_R8,ZIP_avgd_R9,...,B_avgd_R9,All_avgd_R1,All_avgd_R2,All_avgd_R3,All_avgd_R4,All_avgd_R5,All_avgd_R6,All_avgd_R7,All_avgd_R8,All_avgd_R9
0,1,0.051932,12.749573,45.585557,0.078514,14.524730,46.876696,0.053889,12.962825,46.158596,...,182.379129,0.180713,38.987793,91.179898,0.661883,90.547650,201.748975,0.559661,105.041453,308.202050
1,2,92.018888,115.461084,412.826210,52.025215,49.189180,158.751751,95.487412,117.392316,418.015699,...,1651.639030,320.208581,353.076372,825.731972,438.576899,306.646993,683.239339,991.670995,951.263252,2791.100806
2,3,0.332266,0.121658,0.144994,0.948002,0.261554,0.281377,0.344790,0.123693,0.146817,...,0.580093,1.156223,0.372026,0.290016,7.991738,1.630534,1.210996,3.580767,1.002316,0.980299
3,4,0.113863,0.388948,0.695334,0.339282,0.873306,1.409241,0.118155,0.395454,0.704075,...,2.781900,0.396223,1.189392,1.390803,2.860174,5.444216,6.065122,1.227083,3.204477,4.701126
4,5,0.849174,24.943606,89.184806,2.890447,63.977091,206.477828,0.881183,25.360819,90.305916,...,356.811420,2.954968,76.276765,178.386798,24.366705,398.835319,888.643901,9.151396,205.505916,602.974757